.box-layout {
  background-image: url('/images/bg.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    background: fade-out(#fff, .15);
    border-radius: 5px;
    text-align: center;
    width: 25rem;
    padding: $l-size $m-size;
  }

  &__title {
    margin: 0 0 $m-size 0;
    line-height: 1;
  }
}