.header {
  background: $dark-blue;

  &__title {
    color:#fff;
    text-decoration: none;
    
    h1 {
      margin: 0
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $s-size 0;
  }
}

