.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: $s-size;

  &__item {
    margin-bottom: $s-size;
    @media (min-width: $desktop-breakpoint) {
      margin: 0 $s-size 0 0;
    }
  }

  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $l-size;
    flex-direction: row;
  }
}